@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --clr-background: #eceff1;
  --clr-base: #ffffff;
  --clr-primary: #ffb6c1;
  --clr-gray: #310621;
  --clr-hover: #f08ea8;
  --clr-header: #f6d0de;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Navigation bar */

header {
  background-color: #f6d0de;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

#navigation-bar {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.push {
  margin-left: auto;
}

#nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-button {
  margin: 10%;
}
.nav-button:hover {
  color: #dd5c8e;
}
/*
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 17px;

  position: relative;
}

nav ul li:last-of-type {
  margin-right: 0px;
}

nav ul li a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

nav ul li a:hover {
  color: #dd5c8e;
}

nav ul li a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #000000;

  position: absolute;
  bottom: -19px;

  transition: all ease-in-out 250ms;
}

nav ul li a:hover::before {
  width: 100%;
} */

/* Application */
#application {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
  justify-content: center;
}

#application-title {
  font-size: 50px;
  color: #000000;
  position: relative;
  top: 20px;
}

#application-title > span {
  color: #dd5c8e;
}

/* Section for Home Page */
#professor-search {
  margin: 5%;
  width: inherit;
  border-radius: 25px;
  border: 2px solid;
  text-indent: 3%;
}

#professor-search:hover {
  transition: all ease-in-out 250ms;
  border: 2px solid #dd5c8e;
}

#professor-search::placeholder {
  font-family: "Poppins";
}

#professor-search {
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  color: var(--clr-gray);
  background: var(--clr-base);
  border: 2px solid var(--clr-primary);
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

@media (max-width: 480px) {
  #application {
    justify-content: center;
    text-align: center;
  }
  #nav-buttons {
    display: none;
  }
  #nav-buttons > * {
    display: none;
  }
  #navigation-bar {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #nav-bar-padding {
    display: none;
  }
  #application-title {
    font-size: 2.5em;
    text-align: center;
  }
  #professor-search {
    justify-content: center;
    text-align: center;
    text-indent: 0%;
  }
}

@media (max-width: 480px) {
  #teacher-names {
    grid-template-columns: 100%;
    row-gap: 3em;
    column-gap: 2em;
    margin-top: 5%;
  }
}

@media (min-width: 480px) {
  #teacher-names {
    grid-template-columns: 20% 20% 20% 20%;
    row-gap: 4em;
    column-gap: 3em;
    margin: auto;
  }
}

#teacher-names {
  display: grid;
  padding: 5%;
  justify-content: center;
  align-items: center;
  row-gap: 4em;
  column-gap: 3em;
}

.professor-block {
  display: flex;
  border-radius: 10px;
  padding: 5%;
  border: 1px solid var(--clr-primary);
  background: var(--clr-base);
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.professor-block:hover {
  transition: all ease-in-out 250ms;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.professor-block:active {
  background-color: #f4a7bb;
  animation-duration: 250ms;
}

/* Section for teacher page */

#back-button,
#new-comment-button {
  margin-top: 2em;
  background: #ebecf0;
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.150em rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.comment-number{
  font-weight: bolder;
}

/* Section for new comment page */
#comment-form-div {
  display: flex;
  margin: 10%;
  padding: 5%;
}

#submit-button,
#back-button {
  margin-top: 1em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  background-color: var(--clr-primary);
}
#comment-page-button-container{
  display: flex;
  justify-content: space-between;
}

#back-button{
  position: left;
}

#comment-page-prof-name {
  font-weight: bolder;
  color: #dd5c8e;
}
#head-comment-page {
  margin-bottom: 0;
  margin-top: 3em;
  text-align: center;
}

#comment-box {
  margin-top: 2em;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
h1{
  color:#dd5c8e;
}

.average-score{
  color:#dd5c8e;
  font-weight:bolder;
  font-size:5em;
}
.comment {
  border: 1px solid red;
}

.container {
  padding: 2em;
}

.select-box {
  display: flex;
  flex-direction: column;
}

.select-box .options-container {
  background: var(--clr-header);
  color: var(--clr-gray);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 0.5em;
  overflow: hidden;

  order: 1;
}

.selected {
  background: var(--clr-header);
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  color: var(--clr-gray);
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 2em;
  right: 0.625;
  top: 0.3125;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 8em;
  opacity: 1;
  overflow-y: scroll;
  box-shadow: 0 0 0.5em var(--clr-primary);
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -0.375em;
}

.select-box .options-container::-webkit-scrollbar {
  width: 0.5em;
  background: var(--clr-primary);
  border-radius: 0 0.5em 0.5em 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: var(--clr-hover);
  border-radius: 0 0.5em 0.5em 0;
}

.select-box .option,
.selected {
  cursor: pointer;
}

.select-box .option:hover {
  background: var(--clr-primary);
}
.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
}  */

.number-input,
.option,
.selected ,
#submit-button,#back-button{
  font-weight: bold;
  font-family: "Poppins";
  font-size: 1em;
  padding: 0.75em 1.5em;
  background: var(--clr-header);
  color:var(--clr-gray);

}
.number-input {
  background: var(--clr-header);
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  cursor: pointer;
}
.number-input:focus {
  outline: none;
  box-shadow: 0 0 0.5em var(--clr-primary);
}
.number-input::placeholder {
  color: var(--clr-gray);
}
.number-input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-container {
  width: 100%;
  display: flex;
}
#comment-area {
  font-family: "Poppins";
  display: block;
  width: 100%;
  resize: none;
  padding: 1em 2em;
  color: var(--clr-gray);
  border: 0.15em solid var(--clr-primary);
  border-radius: 0.5em;
}
#comment-area:focus {
  box-shadow: 0 0 0.5em var(--clr-primary);
  outline: #eceff1;
}
#char-lenght {
  font-family: "Poppins";
  font-size: 0.75em;
  text-align: right;
  color: #2f3640;
}

h2 {
  color: #2f3640;
  /* border: 1px solid var(--clr-hover); */
  padding: 2em;
  border-radius: 0.5em;
  background: #ebecf0;
  box-shadow: 0 0.75em 1.2em rgba(0, 0, 0, 0.25);
}
