@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --clr-background: #eceff1;
  --clr-base: #ffffff;
  --clr-primary: #ffb6c1;
  --clr-gray: #310621;
}

.dark-mode {
  --clr-background: #1c1c1BFF;
  --clr-base: black;
  --clr-primary: #f4a7bb;
  --clr-gray: #f7e8f2;
}

body {
  font-family: Poppins;
  background: var(--clr-background);
  color: var(--clr-gray);
}



#main {
  /* padding: 5%; */
}

#application {
  padding: 5%;
  font-size: 25px;
}

.wrapper-toggle-mode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.color-switch {
  width: 4em;
  height: 2em;
  border-radius: 10em;
  background: var(--clr-base);
  border: 2px solid var(--clr-primary);
  position: absolute;
  cursor: pointer;
}

.slider-toggle-mode {
  width: 1.6em;
  height: 1.6em;
  background: var(--clr-primary);
  position: absolute;
  border-radius: 10em;
  top: 0.2em;
  left: 0.2em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.color-switch::before {
  content: "Light Mode On";
  position: absolute;
  display: inline-block;
  width: 12em;
  left: -8em;
  top: 0.4em;
}

#input-toggle-mode:checked~label .slider-toggle-mode {
  transform: translatex(2em);
}

#input-toggle-mode:checked~.color-switch::before {
  content: "Dark Mode on";
}

#input-toggle-mode {
  display: none;
}


.nav-bar {
  display: flex;
  width: 100%;
  margin: 0%;
  background-color: var(--clr-primary);
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 40px;
  padding: 0em 0.2em;
  align-items: center;
}


ul {
  list-style-type: none;
  margin: 0%;
  padding: 0;
  background-color: var(--clr-primary);
}

li {
  float: left;
  display: inline;
  color: var(--clr-base);
}

li a {
  padding: 12px;
  display: block;
  color: var(--clr-base);
  text-align: center;
  text-decoration: none;

}

li a:hover {
  background-color: var(--clr-primary);
}


#input-field {
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 .h1color {
  color: var(--clr-primary);
}

#teacher-names {
  display: flex;
  row-gap: 10px;
  column-gap: 20px;

  flex-wrap: wrap;
  flex-grow: 0;
  /* do not grow   - initial value: 0 */
  flex-shrink: 0;
  /* do not shrink - initial value: 1 */
  flex-basis: 25em;
  /* width/height  - initial value: auto */
  min-width: 25em;
  margin: auto;

  padding: 10px;
  flex-basis: 33%;

  justify-content: center;
  align-items: center;
}

#teacher-names div {
  display: flex;
  border-radius: 10px;
  flex: 0 0 250px;
  border: 1px solid var(--clr-primary);
  background: var(--clr-base);
  justify-content: center;
  align-items: center;
  text-align: center;
}


#teacher-names div:hover {
  background-color: var(--clr-gray);
}

#professor-search {
  float: top;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  color: var(--clr-gray);
  background: var(--clr-base);
  border: 2px solid var(--clr-primary);
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
