@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --clr-background: #eff2f5;
  --clr-base: #ffffff;
  --clr-primary: #32e0c4;
  --clr-gray: #393e46;
  --clr-hover: #0f7377;
  --clr-header: #8be7d7;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eff2f5;
  margin: 0;
  padding: 0;
}

/* Navigation bar */

.header {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
                    ,url(images/banner.jpeg);
  background-size: cover;
  background-position: center;
}

.no-header {
  width: 100%;
  height: 10vh;
}

nav {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

nav .logo {
  height: 7vh;
  margin: 0;
  padding: 0;
}

#navigation-bar {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.push {
  margin-left: auto;
}

.mobile-nav {
  flex-direction: column;
  display: none;
  align-items: flex-end;
}
.mobile-nav-button {
  display: none;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
  text-transform: uppercase;
}

#nav-buttons {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-button {
  margin-left: 10vh;
  font-size: small;
  text-transform: uppercase;
  position: relative;
}

.nav-button:hover {
  cursor: pointer;
  color: #32e0c4;
}

.nav-button::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #32e0c4;
  position: absolute;
  left: 0;
  bottom: -2.5vh;
  transition: 0.25s;
}

.nav-button:hover::after {
  width: 100%;
}

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .toggle-button {
    display: flex;
  }

  .logo {
    position: relative;
    left: -10vh;
    top: -19vh;
  }

  /* nav{
    opacity: 0.85;
  } */

  .mobile-nav {
    display: none;
    flex-direction: column;
  }

  .mobile-nav .nav-button{
    color: #ffffff;
    transition: 250ms;

    margin: 5vh 0;
  }

  .mobile-nav .nav-button:first-child {
    margin-top: 15vh;
  }
  .mobile-nav .nav-button:hover {
    color: #32e0c4;
  }

  .mobile-nav .nav-button:hover::after {
    width: 0;
  }

  .mobile-nav.active {
    transition: all ease 250ms;
    display: flex;
  }
}

.banner-content {
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
}

.banner-content h1 {
  font-size: 4em;
  margin: 0;
  color: #ffffff;
}

.banner-content h2 {
  font-size: 2.5em;
  margin-top: 0vh;
  margin-bottom: 5vh;
  color: #32e0c4;
}

.banner-content p {
  font-size: 0.9em;
}

.banner-content .scroll-down {
  margin-top: 5vh;
  height: 5vh;
}

.banner-content .scroll-text {
  font-size: smaller;
}

/* Application */
#application {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 5%;
  justify-content: center;
}

#application-title {
  font-size: 40px;
  color: #000000;
  position: relative;
  top: 10vh;
}

#application-title > span {
  color: #0f7377;
}

/* Section for Home Page */
#professor-search {
  margin: 12vh auto;
  width: inherit;
  height: 50px;
  position: relative;
  left: 7%;
  border-radius: 10px;
  border: 0px solid;
  text-indent: 3%;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border: 0.1em solid #ffffff;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  color: var(--clr-gray);
  background: var(--clr-base);
  border: 2px solid var(--clr-primary);
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d; */
}
#professor-search:focus{
  outline: none;
  border: 0.1em solid var(--clr-primary);
}

#professor-search::placeholder {
  font-family: "Poppins";
}

@media (max-width: 480px) {
  #application {
    justify-content: center;
    text-align: center;
  }
  #nav-buttons {
    display: none;
  }
  #nav-buttons > * {
    display: none;
  }
  #navigation-bar {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #nav-bar-padding {
    display: none;
  }
  #application-title {
    font-size: 2.5em;
    text-align: center;
  }
  #professor-search {
    justify-content: center;
    text-align: center;
    left: 0;
    text-indent: 0%;
  }
}

@media (max-width: 480px) {
  #teacher-names {
    grid-template-columns: 100%;
    row-gap: 3em;
    column-gap: 2em;
    margin-top: 5%;
  }
}

@media (min-width: 480px) {
  #teacher-names {
    grid-template-columns: 20% 20% 20% 20%;
    row-gap: 4em;
    column-gap: 3em;
    margin: auto;
  }
}

#teacher-names {
  display: grid;
  padding: 5%;
  justify-content: center;
  align-items: center;
  row-gap: 4em;
  column-gap: 3em;
}

.professor-block {
  display: flex;
  border-radius: 5px;
  padding: 5%;
  /* border: 0.1em solid var(--clr-primary); */
  background: var(--clr-base);
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.professor-block:hover {
  transition: all ease-in-out 250ms;
  box-shadow: 0 0em 0.5em var(--clr-primary);
}

.professor-block:active {
  background-color: #32e0c4;
  animation-duration: 250ms;
}

/* Section for teacher page */

#back-button,
#new-comment-button {
  margin-top: 2em;
  background: #ebecf0;
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.15em rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.comment-number {
  font-weight: bolder;
  font-size: 1.25em;
}

.comment-data {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
.category {
  padding-right: 1em;
}

.category span {
  font-weight: bold;
}

.comment-content {
  margin-top: 0.5em;
  text-align: left;
}
@media (max-width: 480px) {
  .comment-number {
    font-size: 1em;
  }
}

/* Section for new comment page */
#comment-form-div {
  display: flex;
  margin: 10%;
  padding: 5%;
}

#submit-button,
#back-button {
  margin-top: 1em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}

#submit-button:hover,#back-button:hover,#new-comment-button:hover{
  background-color: var(--clr-primary);
  transform: translate(0,-0.1em);
  transition: all ease-in-out 250ms;
}

#comment-page-button-container {
  display: flex;
  justify-content: right;
}

#back-button {
  position: left;
}

#comment-page-prof-name {
  font-weight: bold;
  color: #0f7377;
}
#head-comment-page {
  margin-bottom: 0;
  margin-top: 3em;
  text-align: center;
}

#comment-box {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

h1 {
  color: #0f7377;
}

.average-score {
  color: #0f7377;
  font-weight: bolder;
  font-size: 5em;
}
.comment {
  color: #2f3640;
  padding: 2em;
  border-radius: 0.5em;
  background: #ebecf0;
  box-shadow: 0 0.75em 1.2em rgba(0, 0, 0, 0.25);
}

.container {
  padding: 2em;
}

.select-box {
  display: flex;
  flex-direction: column;
}

.select-box .options-container {
  background: var(--clr-header);
  color: var(--clr-gray);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 0.5em;
  overflow: hidden;

  order: 1;
}

.selected {
  background: var(--clr-header);
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  color: var(--clr-gray);
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 2em;
  right: 0.625;
  top: 0.3125;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 8em;
  opacity: 1;
  overflow-y: scroll;
  box-shadow: 0 0 0.5em var(--clr-primary);
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -0.375em;
}

.select-box .options-container::-webkit-scrollbar {
  width: 0.5em;
  background: var(--clr-primary);
  border-radius: 0 0.5em 0.5em 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: var(--clr-hover);
  border-radius: 0 0.5em 0.5em 0;
}

.select-box .option,
.selected {
  cursor: pointer;
}

.select-box .option:hover {
  background: var(--clr-primary);
}
.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.number-input,
.option,
.selected,
#submit-button,
#new-comment-button,
#back-button {
  font-weight: bold;
  font-family: "Poppins";
  font-size: 1em;
  padding: 0.75em 1.5em;
  background: var(--clr-header);
  color: var(--clr-gray);
}
.number-input {
  background: var(--clr-header);
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  cursor: pointer;
}
.number-input:focus {
  outline: none;
  box-shadow: 0 0 0.5em var(--clr-primary);
}
.number-input::placeholder {
  color: var(--clr-gray);
}

@media (max-width: 480px) {
  .number-input::placeholder {
    text-align: center;
  }
}
.number-input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-container {
  width: 100%;
  display: flex;
}
#comment-area {
  font-family: "Poppins";
  display: block;
  width: 100%;
  resize: none;
  padding: 1em 2em;
  color: var(--clr-gray);
  border: 0.15em solid var(--clr-header);
  border-radius: 0.5em;
}
#comment-area:focus {
  box-shadow: 0 0 0.5em var(--clr-primary);
  outline: #eceff1;
}
#char-lenght {
  font-family: "Poppins";
  font-size: 0.75em;
  text-align: right;
  color: #2f3640;
}
