@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-family: Poppins;
  background: #ffffff;
}

#main {
  /* padding: 5%; */
}
#application {
  padding: 5%;
}
.nav-bar {
  display: flex;
  width:100%;
  background-color: #DCDCDC;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #DCDCDC;
}

li {
  float: left;
  display: inline;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  text-decoration: none;

}

li a:hover {
  background-color: #ffb6c1;
}


#input-field {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.teacher-names {
  display: flex;

  row-gap: 10px;
  column-gap: 20px;

  flex-wrap: wrap;
  flex-grow: 0; /* do not grow   - initial value: 0 */
  flex-shrink: 0; /* do not shrink - initial value: 1 */
  flex-basis: 25em; /* width/height  - initial value: auto */
  min-width: 25em;
  margin: auto;

  padding: 10px;
  flex-basis: 33%;

  justify-content: center;
  align-items: center;
}
.teacher-names > div {
  display: flex;
  flex: 0 0 250px;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.teacher-names > div:hover {
  background-color: aqua;
}
#professor-search {
  width: 50%;
}
